@model List<SocialBrothersAPIDemo.Models.Adres>
<table>
    <thead>
        <th><button id="sortButton">AdresId</button></th>
        <th><button id="sortButton">Straat</button></th>
        <th><button id="sortButton">Huisnummer</button></th>
        <th><button id="sortButton">PostCode</button></th>
        <th><button id="sortButton">Plaats</button></th>
        <th><button id="sortButton">Land</button></th>
        <div id="srtbtn"></div>
    </thead>
    @foreach (var adres in Model)
    {
    <tr>
        <td>@adres.AdresId</td>
        <td>@adres.Straat</td>
        <td>@adres.Huisnummer</td>
        <td>@adres.Postcode</td>
        <td>@adres.Plaats</td>
        <td>@adres.Land</td>
    </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(() => {

        $('#sortButton').on('click', () => {
            sortTable()
        });
    });

    function sortTable() {
        $.ajax({
            url: '@Url.Action("ButtonSort", "AdresTable")',
            dataType: 'html',
            method: 'GET',
            data: { searchText: $('#sortButton').val() },
            success: function (res) {
                $('#srtbtn').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }

        })
    }

</script>