@model  SocialBrothersAPIDemo.Models.Adres

@{
    ViewData["Title"] = "AdresTable";
}

<h1>AdresTable</h1>

<div>
    <h4>Adres Table</h4>
    <table>
        <thead>
        <th>Adres Id</th>
        <th>Straat</th>
        <th>Huisnummer</th>
        <th>PostCode</th>
        <th>Plaats</th>
        <th>Land</th>
        </thead>
        @foreach (var adres in ViewData["adressen"] as IEnumerable<SocialBrothersAPIDemo.Models.Adres>)
        {
        <tr>
            <td>@adres.AdresId</td>
            <td>@adres.Straat</td>
            <td>@adres.Huisnummer</td>
            <td>@adres.Postcode</td>
            <td>@adres.Plaats</td>
            <td>@adres.Land</td>
        </tr>
        }
    </table>
</div>

